replicaCount: 1

image:
  repository: 850213989260.dkr.ecr.us-east-1.amazonaws.com/t2e
  tag: "dev"
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80
  targetPort: 8000

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"